.container-fluid
  .row{'ng-controller' => 'ReceiversCtrl'}
    .col-xs-8
      = render partial: 'receivers_list'
    .col-xs-4
      .panel.panel-primary{'ng-hide' => 'receiverCreateForm'}
        .panel-heading
          %h1.panel-title 
            Add new contact
            %button.btn.btn-danger.btn-xs.pull-right{style: 'margin-left:10px;', 'ng-click' => 'receiverToggleCreate()', type: 'submit'} X
        .panel-body  
          = render partial: 'create'
      .panel.panel-primary{'ng-hide' => 'receiverEditForm'}
        .panel-heading
          %h1.panel-title 
            Edit contact
            %button.btn.btn-danger.btn-xs.pull-right{style: 'margin-left:10px;', 'ng-click' => 'receiverToggleEdit("close", receiverFormData)', type: 'submit'} X
        .panel-body  
          = render partial: 'edit'

      = render partial: 'postcards_list'

      -if current_account.is_admin?
        .panel.panel-primary{'ng-hide' => 'ownerEditForm'}
          .panel-heading{'ng-init' => 'getAccounts()'}
            %h1.panel-title 
              Edit contact owner
              %button.btn.btn-danger.btn-xs.pull-right{style: 'margin-left:10px;', 'ng-click' => 'ownerToggleEdit()', type: 'submit'} X
          .panel-body  
            = render partial: 'change_owner'