-@receivers.each do |receiver|
  %div{style: "text-align:right; width:100%; height:5.0in; line-height:5.0in; #{receiver == @receivers.last ? '' : 'page-break-after:always;'}"}
    %span{style: "display:inline-block; vertical-align:middle; line-height:20px;"}
      #fullname= receiver.fullname
      #address= receiver.address_line_1
      #address2= receiver.address_line_2
      #address3= receiver.address_line_3
      #city= "#{receiver.city}, #{receiver.country}"
      #zip= "#{receiver.zip}"
