!!!
%html
  %head
    %title Postcards
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{"ng-app" => "Postcards"} 
    = render partial: "shared/header"
    #main_container
      = yield
