= form_for(@account) do |f|
  - if @account.errors.any?
    #error_explanation
      %h2
        = pluralize(@account.errors.count, "error")
        prohibited this account from being saved:
      %ul
        - @account.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: "form-control"
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: "form-control"
  .form-group
    = f.label :email
    = f.email_field :email, autofocus: true, class: "form-control"
  .form-group
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    = f.password_field :password, autocomplete: "off", class: "form-control"
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
  .checkbox
    %label
      = f.check_box :is_admin
      Is admin
  .actions
    = f.submit "Save", class: "btn btn-default"
    = link_to 'Back', accounts_path, class: "btn btn-danger"